@media screen and (max-width: 1100px) {
    body {
        background-color: red;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 11px 0;
    }
}